---
import ProjectPage from "../../components/Projectpage.astro";
import { Fragment } from "astro/jsx-runtime";
---

<ProjectPage title="Project - HKUST Technical Proposal">

  <h1 class="text-2xl font-semibold">Project Background</h1>
  <p class="text-sm leading-6 text-zinc-300">
    The current Finance and HR system custom built on PeopleSoft are no longer being supported. Therefore, the client was struggling to upgrade the PeopleSoft system to the latest version or completely change to an ERP system.
  </p>

  <a
    href={`${import.meta.env.BASE_URL}#education`}
    class="inline-block mt-6 text-blue-400 hover:text-blue-300 underline"
  >
    ← Back to Portfolio
  </a>
</ProjectPage>