---
import ProjectPage from "../../components/Projectpage.astro";
import { Fragment } from "astro/jsx-runtime";
---

&& (
    <section id="projects" class="p-8 sm:p-12 md:p-16 lg:p-24">
      <div>
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
          <div class="lg:col-span-4">
            <h2 class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-900">
                Project - HKUST Technical Proposal
            </h2>
            <div
              class="w-[75px] h-[5px] mt-2 rounded-full"
              style={`background-color: ${siteConfig.accentColor}`}
            />
          </div>

<ProjectPage title="Project - HKUST Technical Proposal">

  <h1 class="text-2xl font-semibold">Project Background</h1>
  <p class="text-sm leading-6 text-zinc-300">
    The current Finance and HR system custom built on PeopleSoft are no longer being supported. Therefore, the client was struggling to upgrade the PeopleSoft system to the latest version or completely change to an ERP system.
  </p>

  <a
    href={`${import.meta.env.BASE_URL}#education`}
    class="inline-block mt-6 text-blue-400 hover:text-blue-300 underline"
  >
    ← Back to Portfolio
  </a>
</ProjectPage>