---
import { siteConfig } from '../../config.ts';
---

<html>
<head>
    <title>Project - HKUST Technical Proposal</title>
     <link rel="stylesheet" href="/src/styles/global.css">
</head>
<body>
    <h1>Project Background</h1>
    <p>The current Finance and HR system custom built on PeopleSoft are no longer being supported. Therefore, the client was struggling to upgrade the PeopleSoft system to the latest version or completely change to an ERP system</p>
    
    <!-- Link back to main portfolio -->
    <a href="https://qqbbgisme.github.io/PwC_Internship_Journey/#education">← Back to Portfolio</a>
</body>
</html>